@import "tailwindcss";

.scroller::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

.scroller::-webkit-scrollbar-track {
  background: transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(99, 99, 99, 0.3);
  border-radius: 999px;
  cursor: pointer;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: rgba(112, 112, 112, 0.5);
}